@model WebAppMVC.Models.DetailClientListViewModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Добавление Покупки</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button> 
    </div>
    <div class="modal-body">
        <form method="post" asp-action="createShop" asp-controller="Home">
           
            <label class="control-label">Покупатель: </label>
            <select asp-for="shopProduct.DetailClient_id" asp-items="Model.DetailClients" class="form-control"></select>


            <label asp-for="shopProduct.BuyDate" class="form-label">Дата покупки</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" asp-for="shopProduct.BuyDate"/>
            </div>

            <label asp-for="shopProduct.CheckAmmount" class="form-label">Сумма чека</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" asp-for="shopProduct.CheckAmmount"/>
            </div>

            <label asp-for="shopProduct.ScreenImage" class="form-label">Фото покупки</label>
            <div class="input-group mb-3">
                @*<input type="text" class="form-control" asp-for="Client.Patronymic"/>*@
            </div>
           
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary"/>
            </div>

        </form>
    </div>
</div>
