@model WebAppMVC.Models.DetailClient

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Добавление Клиента</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button> 
    </div>
    <div class="modal-body">
        <form method="post" asp-action="create" asp-controller="Home">
           
            <label asp-for="Client.FirstName" class="form-label">Имя</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" asp-for="Client.FirstName"/>
                <span asp-validation-for=Client.FirstName></span>
            </div>

            <label asp-for="Client.LastName" class="form-label">Фамилия</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" asp-for="Client.LastName"/>
                <span asp-validation-for=Client.LastName></span>
            </div>

            <label asp-for="Client.Patronymic" class="form-label">Отчество</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" asp-for="Client.Patronymic"/>
                <span asp-validation-for=Client.Patronymic></span>
            </div>

            <label asp-for="BirthDate" class="form-label">Дата Рождения</label>
            <div class="input-group mb-3">
                <input type="date" class="form-control" asp-for="BirthDate"/>
                <span asp-validation-for=BirthDate></span>
            </div>

            <label asp-for="Email" class="form-label">Почта</label>
            <div class="input-group mb-3">
                <input type="email" class="form-control" asp-for="Email"/>
                <span asp-validation-for=Email></span>
            </div>

            <label asp-for="Phone" class="form-label">Телефон</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" asp-for="Phone"/>
                <span asp-validation-for=Phone></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary"/>
            </div>

        </form>
    </div>
</div>
